<!DOCTYPE html>
<html>
    <head>
        <title>Testr</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/python.png') }}">
    </head>
    <body>
        <div class="container">
            <div class="nav-menu pure-menu">
                <a href="#" class="pure-menu-heading">
                    <img class="logo-img" src="{{ url_for('static', filename='images/python.png') }}" />T E S T R
                </a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item profile">
                        Hi, William!
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Settings</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Log out</a>
                    </li>
                </ul>
                <div class="nav-footer">
                    &copy; 2021 William Moody
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>